@{
    ViewData["Title"] = "Overwatch: My Hobby";
}

<body>
    <div class="text-center">
    <div>
        <img src="~/lib/Overwatchbanner.png" alt="Overwatchbanner">
    </div>
    <br />
        <br />
        <br />
    <div class="favorites">
        My Favorite Overwatch characters
        <ul>Ana</ul>
        <img src="/lib/OW2_Ana_2.png" />
        <ul>Reaper</ul>
        <ul>Junker Queen</ul>
        <ul>Sigma</ul>
        <ul>Baptiste</ul>
    </div>
    <div>
            Characters I hate playing against
            <ul>Doomfist</ul>
            <ul>Hanzo</ul>
            <ul>Genji</ul>
            <ul>Wrecking Ball</ul>
            <ul>Mauga</ul>
    </div>
    <div class="text">
        I've always wanted to play Overwatch ever since I played it at a friend's house 5 years ago. Thankfully with Overwatch 2, 
        I can do that since it is now free to play! I am having a blast playing on a 2.5k team with friends and competing in tournaments 
        and watching pro Overwatch with friends during the season.

        I play almost all of the support characters, and I also like to play tank as well. This game is a lot of fun to play, but even more fun when you
        play with friends! It is a great team game and I'm glad to learn how to communicate and be a team player in a tournament, because that can help me
        be a better team player in the career that I end up in!
    </div>
    <br />
    <div>
        Interested in learning how to play Overwatch better? Contact me <a href="@Url.Action("hobby")">here!</a>
    </div>

    <a href="#top">Back to top</a>

</div>
</body>